/* You can add global styles to this file, and also import other style files */

// ****Elements/Tags****
h1 {
  display: inline-block !important;
  margin-top: 10px !important;
}
 form {
   display: inline-block !important;
   width: 100%;
 }

// Multiple Elements
#button-wrapper {
  float: right;

  .nui-button {
    border-width: 0 !important;
  }
}
.button-wrapper {
  float: right;
}



// ****Class****

.search-wrapper {
float: right;
padding: .2rem;
}

.small-item-wrapper {
   width: 35rem;
}

.item-header {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #D5D5D5;
  // margin: 0 !important;
}

.item-title {
  color: black !important;
  // padding: .5rem;
  position: relative;
  // display: block;
}

.center {
  text-align: center;
}

.nui button {
  margin: .09rem !important;

}
.modal-buttons {
    width: 100%;
    float: right;
    margin-bottom: .1rem;
}

// ****ID****

#projection-wrapper {
  min-width: 45rem;
 }

#page-title {
  margin-top: .8rem !important;
}

#button-wrapper {
  float: right;
}
